% DETERMINANT %

Gate;AnnotationType=Token;category=DT;string=&S
Buchart;category=dt;m_root=&S;s_form=&S;

% NN %

Gate;AnnotationType=Token;category=NN;root=&R;affix=&A;string=&S
Buchart;category=n;person=3;number=sing;m_root=&R;m_affix=&A;s_form=&S;


% NNS %

Gate;AnnotationSet=Default;AnnotationType=Token;category=NNS;root=&R;affix=&A;string=&S
Buchart;category=n;person=3;number=plural;m_root=&R;m_affix=&A;s_form=&S

% NNP %

Gate;AnnotationType=Token;category=NNP;root=&R;affix=&A;string=&S
Buchart;category=pn;person=3;number=singular;m_root=&R;m_affix=&A;s_form=&S


% NNPS %

Gate;AnnotationType=Token;category=NNPS;root=&R;affix=&A;string=&S
Buchart;category=pn;person=3;number=plural;m_root=&R;m_affix=&A;s_form=&S

% VB %

Gate;AnnotationType=Token;category=VB;root=&R;affix=&A;string=&S
Buchart;category=v;person=3;number=plural;m_root=&R;m_affix=&A;tense=none;vform=base;s_form=&S





% NPS %

Gate;AnnotationType=Token;category=NPS;root=&R;affix=&A;string=&S
Buchart;category=pn;person=3;number=plural;m_root=&R;m_affix=&A;s_form=&S

% VBD %

Gate;AnnotationType=Token;category=VBD;root=&R;affix=&A;string=&S
Buchart;category=v;person=3;m_root=&R;m_affix=&A;s_form=&S;tense=past;vform=dform



% VBG %

Gate;AnnotationType=Token;category=VBG;root=&R;affix=&A;string=&S
Buchart;category=v;m_root=&R;m_affix=&A;s_form=&S;tense=present;vform=gform


% VBN %
Gate;AnnotationType=Token;category=VBN;root=&R;affix=&A;string=&S
Buchart;category=v;m_root=&R;m_affix=&A;s_form=&S;tense=past;vform=nform



% VBP %


Gate;AnnotationType=Token;category=VBP;root=&R;affix=&A;string=&S
Buchart;category=v;m_root=&R;m_affix=&A;s_form=&S;tense=present;vform=sform


% VBZ %

Gate;AnnotationType=Token;category=VBZ;root=&R;affix=&A;string=&S
Buchart;category=v;m_root=&R;m_affix=&A;s_form=&S;tense=present;vform=sform;person=3;number=sing


% JJ %


Gate;AnnotationType=Token;category=JJ;string=&S
Buchart;category=jj;m_root=&S;s_form=&S;degree=base


% JJR %


Gate;AnnotationType=Token;category=JJR;string=&S
Buchart;category=jj;m_root=&S;s_form=&S;degree=comp


% JJS %

Gate;AnnotationType=Token;category=JJS;string=&S
Buchart;category=jj;m_root=&S;s_form=&S;degree=sup



% RB %


Gate;AnnotationType=Token;category=RB;string=&S
Buchart;category=rb;m_root=&S;s_form=&S;degree=base


% RBR %

Gate;AnnotationType=Token;category=RBR;string=&S
Buchart;category=rb;m_root=&S;s_form=&S;degree=comp

% RBS %


Gate;AnnotationType=Token;category=RBS;string=&S
Buchart;category=rb;m_root=&S;s_form=&S;degree=sup


% PRP %

Gate;AnnotationType=Token;category=PRP;string=&S
Buchart;category=pps;m_root=&S;s_form=&S;degree=sup


% PP$ %

Gate;AnnotationType=Token;category=PP$;string=&S
Buchart;category=pps;m_root=&S;s_form=&S



% PRP$ %

Gate;AnnotationType=Token;category=PRP$;string=&S
Buchart;category=pps;m_root=&S;s_form=&S



% PRPR$ %

Gate;AnnotationType=Token;category=PRPP$;string=&S
Buchart;category=pps;m_root=&S;s_form=&S



% WP$ %

Gate;AnnotationType=Token;category=WP$;string=&S
Buchart;category=wp;m_root=&S;s_form=&S



% PERIOD (.) %

Gate;AnnotationType=Token;category=.;root=&R;affix=&A;string=&S
Buchart;category=period;s_form=&S



% COMMA (,) %

Gate;AnnotationType=Token;category=,;string=&S
Buchart;category=comma;s_form=&S

% SYM (other symbols) %

Gate;AnnotationType=Token;category=SYM;string=&S
Buchart;category=sym;s_form=&S

% WRB %
Gate;AnnotationType=Token;category=WRB;string=&S
Buchart;category=wrb;m_root=&S;s_form=&S

% MD %

Gate;AnnotationType=Token;category=MD;string=&S
Buchart;category=md;m_root=&S;s_form=&S

% PDT %

Gate;AnnotationType=Token;category=PDT;string=&S
Buchart;category=pdt;m_root=&S;s_form=&S


% POS %

Gate;AnnotationType=Token;category=POS;string=&S
Buchart;category=pos;m_root=&S;s_form=&S

% PRP %

Gate;AnnotationType=Token;category=PRP;;string=&S
Buchart;category=prp;m_root=&S;s_form=&S

% RP %

Gate;AnnotationType=Token;category=RP;string=&S
Buchart;category=rp;m_root=&S;s_form=&S

% TO %

Gate;AnnotationType=Token;category=TO;string=&S
Buchart;category=to;m_root=&S;s_form=&S

% UH %

Gate;AnnotationType=Token;category=UH;string=&S
Buchart;category=uh;m_root=&S;s_form=&S

% WDT %

Gate;AnnotationType=Token;category=WDT;string=&S
Buchart;category=wdt;m_root=&S;s_form=&S

% WP %

Gate;AnnotationType=Token;category=WP;string=&S
Buchart;category=wp;m_root=&S;s_form=&S

% WRB % 

Gate;AnnotationType=Token;category=WRB;string=&S
Buchart;category=wrb;m_root=&S;s_form=&S

% ORDINAL %

Gate;AnnotationType=Token;category=ORDINAL;string=&S
Buchart;category=ordinal;m_root=&S;s_form=&S

% EX %

Gate;AnnotationType=Token;category=EX;string=&S
Buchart;category=ex;m_root=&S;s_form=&S

% FW %

Gate;AnnotationType=Token;category=FW;string=&S
Buchart;category=fw;m_root=&S;s_form=&S

% CD %

Gate;AnnotationType=Token;category=CD;string=&S
Buchart;category=cd;m_root=&S;s_form=&S

% CC %

Gate;AnnotationType=Token;category=CC;string=&S
Buchart;category=cc;m_root=&S;s_form=&S

% LS % 

Gate;AnnotationType=Token;category=LS;string=&S
Buchart;category=ls;m_root=&S;s_form=&S

% PP %

Gate;AnnotationType=Token;category=PP;string=&S
Buchart;category=pp;m_root=&S;s_form=&S

% IN %

Gate;AnnotationType=Token;category=IN;string=&S
Buchart;category=in;m_root=&S;s_form=&S


% MD %
Gate;AnnotationType=Token;category=MD;string=&S
Buchart;category=md;m_root=&S;s_form=&S



% SYMBOLS %

Gate;AnnotationType=Token;kind=punctuation;string=&S
Buchart;category=sym;m_root=&S;s_form=&S


Gate;AnnotationType=Token;kind=symbol;string=&S
Buchart;category=sym;m_root=&S;s_form=&S






% Some Gazetteer information %

Gate;AnnotationType=Lookup;majorType=location;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=location

% organization list

Gate;AnnotationType=Lookup;majorType=organization;minorType=company;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=organization

% organization key

Gate;AnnotationType=Lookup;majorType=org_key;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=org_key


% organization base



Gate;AnnotationType=Lookup;majorType=org_base;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=org_base


% government key

Gate;AnnotationType=Lookup;majorType=govern_key;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=govern_key


% person 

Gate;AnnotationType=Lookup;majorType=person_full;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=person;ne_type=person_full


Gate;AnnotationType=Lookup;majorType=person_first;minorType=male;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=person;ne_type=person_first;gender=male



Gate;AnnotationType=Lookup;majorType=person_first;minorType=female;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=person;ne_type=person_first;gender=female


% locations

Gate;AnnotationType=Lookup;majorType=country_adj;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=country_adj


Gate;AnnotationType=Lookup;majorType=location;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=location

% cdg

Gate;AnnotationType=Lookup;majorType=cdg;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=cdg

% loc key

Gate;AnnotationType=Lookup;majorType=loc_key;minorType=post;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=loc_key;ne_type=post


Gate;AnnotationType=Lookup;majorType=loc_key;minorType=pre;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=loc_key;ne_type=pre

% time

Gate;AnnotationType=Lookup;majorType=measurement_unit;minorType=time;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=unit;ne_type=time


Gate;AnnotationType=Lookup;majorType=currency_unit;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=currency_unit


% title

Gate;AnnotationType=Lookup;majorType=title;minorType=&T;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=title;ne_type=&T

% planet

Gate;AnnotationType=Lookup;majorType=planet;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=planet


% date


Gate;AnnotationType=Lookup;majorType=date;minorType=day;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=date;ne_type=day



Gate;AnnotationType=Lookup;majorType=date;minorType=month;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=date;ne_type=month


Gate;AnnotationType=Lookup;majorType=date;minorType=year;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=date;ne_type=year


Gate;AnnotationType=Lookup;majorType=date;minorType=day;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=date;ne_type=day


Gate;AnnotationType=Lookup;majorType=time;minorType=zone;string=&S
Buchart;category=list_np;s_form=&S;ne_tag=timezone



% date


Gate;AnnotationType=Date;string=&S
Buchart;category=sem_cat;type=Date;text=&S;kind=date;name=&S